Package: us.nakedproductions.mycamera
Name: MyCamera
Depends: mobilesubstrate
Version: 1.0-11
Architecture: iphoneos-arm
Description: Take photos without your camera button
Maintainer: EvilPenguin|
Author: EvilPenguin|
Section: Tweaks
Installed-Size: 44
